<?xml version="1.0" encoding="UTF-8"?>
<web-app>


<servlet>
<servlet-name>DateTimeServlet</servlet-name>
<servlet-class>com.servlet.DateTimeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DateTimeServlet</servlet-name>
<url-pattern>/datetimeurl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>HtmlCommunicationServlet</servlet-name>
<servlet-class>com.servlet.HtmlCommunicationServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HtmlCommunicationServlet</servlet-name>
<url-pattern>/servletcommunicationurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RefreshServlet</servlet-name>
<servlet-class>com.servlet.RefreshServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RefreshServlet</servlet-name>
<url-pattern>/refreshurl</url-pattern>
</servlet-mapping>

</web-app>